<header class="sticky-top">
    <div class="container-fluid bg-lightblue">
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-lightblue px-1 px_md_0">
                <button class="navbar-toggler navbar-toggler-right bg_00436d outline_n" type="button" data-toggle="collapse"
                        data-target=".burger_menu_show" aria-controls="burger_menu_show"
                        aria-expanded="false" aria-label="Toggle navigation" style="right: 0 !important;">
                    <i class="fa fa-bars text-white"></i>
                </button>
                <a href="./" class="navbar-brand"><img src="public/images/logo.png" width="137" height="61" alt="logo"></a>
                <div class="collapse navbar-collapse justify-content-end burger_menu_show" id="burger_menu_show">
                    <ul class="navbar-nav arial-b ml-auto">
                        <li class="nav-item ml-2 ml_md_0 my_md_2">
                            <a href="./" class="nav-link f-s-14 btn bg-blue text-white"><b>Faq</b></a>
                        </li>
                        <li class="nav-item ml-2 ml_md_0 my_md_2">
                            <a href="./" class="nav-link f-s-14 btn bg-blue text-white"><b>About us</b></a>
                        </li>
                        <li class="nav-item ml-2 ml_md_0 my_md_2">
                            <a href="./" class="nav-link f-s-14 btn bg-blue text-white"><b>Auction Types</b></a>
                        </li>
                        <li class="nav-item ml-2 ml_md_0 my_md_2">
                            <a href="./" class="nav-link f-s-14 btn bg-blue text-white"><b>Contact us</b></a>
                        </li>
                    </ul>
                </div>
                <div class="float-right bg-white py-3 b-radius-5 col-auto ml-0 ml-lg-2 text-center text-lg-left">
                    <div class="px-2">
                        <span class="bg-seri text-white p-1 arial-b b-radius-5 time"></span>
                        <span class="arial text-green date">
                           <i class="day"></i>
                           <i class="month"></i>
                           <b class="year"></b>
                           </span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid bg-mugseri">
        <div class="container bg-mugseri py-0">
            <nav class="navbar navbar-toggleable-md px-0 py-0">
                <div class="text-center" style="line-height: initial;">
                    <button class="navbar-toggler navbar-toggler-left bg_00436d outline_n top-3-px" type="button" data-toggle="collapse"
                            data-target=".burger_menu_two_show" aria-controls="burger_menu_two_show"
                            aria-expanded="false" aria-label="Toggle navigation" style="left: 0 !important;">
                        <i class="fa fa-bars text-white"></i>
                    </button>
                    <ul class="navbar-nav arial-b ml-auto justify-content-between align-items-baseline d-flex d-lg-none mobile_lang_style languages">
                        <li class="nav-item pl-3"><a href="#" class="nav-link text-white active">Eng</a></li>
                        <li class="nav-item pl-3"><a href="#" class="nav-link text-white">Arm</a></li>
                        <li class="nav-item pl-3"><a href="#" class="nav-link text-white">Rus</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse burger_menu_two_show" id="burger_menu_two_show">
                    <ul class="navbar-nav arial-b mr-auto justify-content-between align-items-center text-center text-lg-left">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white f-s-15 active text-uppercase"><b>Login</b></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white f-s-15 active text-uppercase"><b>Registration</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white f-s-15 text-uppercase" href="#" id="calendar"><b>Calendar</b></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white f-s-15 text-uppercase" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" href="#"><b>Category</b></a>
                            <ul class="dropdown-menu f-s-13 dr_menu blue_dropdown_menu_style min-width-18rem" role="menu">
                                <li class="p-0 hover-bg-blue">
                                    <a href="#" class="custom_hover_red d-block nav-link px-2">Category name</a>
                                </li>
                                <li class="p-0 hover-bg-blue">
                                    <a href="#" class="custom_hover_red d-block nav-link px-2">Category name</a>
                                </li>
                                <li class="p-0 hover-bg-blue">
                                    <a href="#" class="custom_hover_red d-block nav-link px-2">Category name</a>
                                </li>
                                <li class="p-0 hover-bg-blue">
                                    <a href="#" class="custom_hover_red d-block nav-link px-2">Category name</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- search -->
                    <div class="column ml-auto">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input type="search" name="search" value="search" placeholder="Search" class="sb-search-input f-s-15 search-tooltip" />
                                <input class="sb-search-submit" type="submit" value="_search">
                                <span class="sb-icon-search"><img src="public/images/search_icon.png" alt="search" width="18" class="mb-6-px"></span>
                            </form>
                        </div>
                    </div>
                    <!-- search -->
                    <ul class="navbar-nav arial-b justify-content-between d-none d-lg-flex languages align-items-center">
                        <li class="nav-item enflag"><a href="#" class="nav-link text-white active">Eng</a></li>
                        <li class="nav-item hyflag"><a href="#" class="nav-link text-white">Arm</a></li>
                        <li class="nav-item ruflag"><a href="#" class="nav-link text-white">Rus</a></li>
                    </ul>
                    <span data-toggle="modal" data-target="#call-modal" class="d-flex pb-lg-0 pb-2 mt-lg-0 mt-3 justify-content-center align-items-center mx-3"><i class="fa fa-mobile text-white fa-lg cursor-hand" aria-hidden="true"></i></span>
                </div>
            </nav>
        </div>
    </div>
</header>
<!--end header -->