<div class="modal fade" id="call-modal" tabindex="-1" role="dialog" aria-labelledby="callModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="public/images/modal-logo.png" alt="modal-logo" width="35" height="35">
                <h5 class="text-00436d font-weight-bold modal-title" id="callModalLabel">Call Center</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form id="number-form">
                        <h6 class="arial-b text-00436d">FeedBack</h6>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-md-4 col-form-label">Phone number</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control f-s-14 arial-b" id="staticEmail">
                            </div>
                        </div>
                        <div class="form-group mb-0 mx-auto float-right">
                            <button type="button" name="confirm-button" class="btn bg-blue rounded-0 text-white action-btn">Confirm</button>
                            <button type="button" class="btn btn-secondary rounded-0"
                                    data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>